---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import IconGrid from '../components/IconGrid.astro';
---

<Layout title="ERP-ORSIT">
	<Header />
	<main>
		<IconGrid />
	</main>
</Layout>

<style>
  main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f3f4f6; */
    min-height: 100vh;
  }
</style>